::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.side::-webkit-scrollbar {
  display: block;
}

.side {
  position: fixed;
  float: left;
  overflow: hidden;
  overflow-y: scroll;
  width: 20%;
  top: 51.24px;
  bottom: 0px;
}

.content {
  float: left;
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  margin-left: 20%;
  margin-top: 51.24px;
}

.searchButton {
  position: fixed;
  bottom: 0;
  right: 80%;
  margin: 20px;
}

.searchPad {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 20%;
    background-color: white;
}