.header{
  top: 0;
  width:100%;
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  background-color: #F1CBFF;

}

.Main-logo{
  padding: 5px;
}

.Main-logo a img{
  width: 40px;
  height: 40px;
  padding: 0;
}

.Main-title{
  padding: 15px;
}

.navigator{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item{
  padding:15px;
  cursor: pointer;
}

.nav-item a:hover{
  color:#C4C4C4;
}

.nav-item a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.body{
  padding:100px;
  width:1120px;
  margin: 0 auto;
}

.profile{
  float:left;
  width:328px;
  height: 807px;
  margin-right: 21px;
  border: 1px dashed black;
}

.course{
  float:right;
  width:761px;
}

.search{
  height: 145px;
  border: 1px dashed black;
  margin-bottom: 19px;
}

.list{
  height: 643px;
  border: 1px dashed black;
}