.profileImg{
    display:block;
    overflow: hidden;
    width: 320px;
    height:320px;
}

.profileImg img{
    display:block;
    min-height: 100%;
    width:100%;
    -ms-interpolation-mode: bicubic;
}

.name{
    padding-left: 10px;
}

.school{
    padding-left: 10px;
}

.major{
    padding-left: 10px;
}